<h1>Help</h1>

<p>
  Customer relationship management, or CRM for short, describes a company's consistent focus on its customers and the systematic design of customer relationship processes.
</p>

<div>

  <div>
    <h2>Add User</h2>
    <p>Gnerate User</p>
  </div>

  <div>
    <h2>User in Backlog</h2>
    <p>User with Date in Backlog, wait for the Next Step</p>
  </div>

</div>

<div>
  <h2>For the Function you must be Login</h2>
  <button mat-button routerLink="login" >
    <mat-icon>login</mat-icon>
    Login
  </button>
</div>
