<h1>Help</h1>

<p>
  Customer relationship management, or CRM for short, describes a company's consistent focus on its customers and the systematic design of customer relationship processes.
</p>

<div>

  <div>
    <h2>Add User</h2>
    <p>Gnerate User</p>
  </div>

  <div>
    <h2>User in Backlog</h2>
    <p>User with Date in Backlog, wait for the Next Step</p>
  </div>

</div>

<div>

  <ng-container *ngIf="authService.currenUser$ | async as user; else loginButton" >
    <h2>Logged in </h2>
    <button mat-button [matMenuTriggerFor]="userMenu" >
      <mat-icon>account_circle</mat-icon>
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>

    <button mat-button routerLink="login" >
      <h2>You must be login in  </h2>
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</div>

<mat-menu #userMenu="matMenu">

  <button mat-menu-item (click)="logout()" >logout</button>

</mat-menu>
