<mat-card class="user-detail-header">

  <button mat-icon-button [matMenuTriggerFor]="userMenu" class="pin-right-upper-corner" >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserMenu()" >Edit</button>
  </mat-menu>

<img src="assets/img/profil.png">
<div class="user-detail" >
  <h2> {{user.firstName}} {{user.lastName}}  </h2> <br>
  {{ user.email }}
</div>
</mat-card>

<mat-card class="mt-32">

  <button mat-icon-button [matMenuTriggerFor]="addressMenu" class="pin-right-upper-corner" >
    <mat-icon>more_vert</mat-icon>
    </button>
  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editAddressMenu()" >Edit</button>
  </mat-menu>



    <mat-card-title>Addresse</mat-card-title>
  <mat-card-content>
    {{user.street}} <br>
    {{ user.zipCode}} {{ user.city }}
  </mat-card-content>

</mat-card>
