<div *ngIf="user$ | async as user"> <!--*ngIf="user$ | async as user-->

<mat-card>
  <table class="user-table">

    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>

    <tr *ngFor="let user of allUsers" [routerLink]="['/user/'+user.UserId]">
      <td>{{ user.firstName }} {{ user.lastName }} </td>
      <td>{{ user.email }}</td>
      <td>{{ user.city }}</td>
    </tr>


  </table>

  <mat-paginator class="paginator" [length]="renderArray.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"
                 (page)="OnPageChange($event)">
  </mat-paginator>

</mat-card>





<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add User">
  <mat-icon>add</mat-icon>
</button>
</div>


